/* Estilos para SideNav */
.sidenav {
    width: 240px;
    background-color: var(--color-primary);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
  }
  
  .sidenav ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidenav ul li {
    margin: 20px 0;
  }
  
  .sidenav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    display: block;
    padding: 10px;
    transition: background-color 0.3s ease;
    border-bottom: 1px solid #ffffff5c;;
  }
  
  .sidenav ul li a:hover {
    background-color: var(--color-accent);
    border-radius: 4px;
  }

  .sidenav-icon-text {
    margin-left: 5px;
  }
  
  /* Estilos para OwnerDashboard */
  .owner-dashboard {
    display: flex;
  }
  
  .content {
    margin-left: 260px; /* Espacio para el sidenav */
    padding: 20px;
    width: 100%;
  }
  