.login-signup-container {
    min-width: 500px; /* Aumenta el ancho máximo del formulario */
    margin: 50px auto;
    padding: 30px; /* Aumenta el padding para hacer más espacioso el formulario */
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  .login-signup-container form {
    display: flex;
    flex-direction: column;
  }
  
  .login-signup-container h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px; /* Aumenta el margen inferior para más espacio entre los campos */
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-group input {
    width: 100%;
    padding: 12px; /* Aumenta el padding para más espacio dentro del input */
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box; /* Asegura que el padding no afecte el tamaño total del input */
  }
  
  button {
    padding: 12px;
    border: none;
    border-radius: 5px;
    background-color: #00aaff; /* Main color of Hossio */
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    color: white;
    font-family: inherit;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #0088cc;
  }

  .login-signup-container hr {
    margin-top: 44px;
    opacity: 0.5;
  }

  .login-signup-container p {
    margin: 10px 0px;
  }

  .pseudo-link {
    color: #009eee;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.15s;
  }
  .pseudo-link:hover {
    color: #006ca2;
  }
  
  /* social login buttons */
  .social-login-buttons {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }