:root {
    --color-primary: #1ABC9C; /* Turquesa */
    --color-secondary: #2C3E50; /* Gris Oscuro */
    --color-background: #ECF0F1; /* Gris Claro */
    --color-accent: #E67E22; /* Naranja */
    --color-link: #3498DB; /* Azul Claro */
    --color-text: #333; /* Color de Texto General */
  }

.highlight-text {
    color: var(--color-primary);
 }

 .btn-reverse {
    background-color: #000; /* Fondo negro */
    color: #fff; /* Letra en blanco */
    padding: 8px 16px;
    border: none;
    border-radius: 20px; /* Bordes redondeados */
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .btn-reverse:hover {
    background-color: #333; /* Fondo gris oscuro al pasar el mouse */
 }

body {
  font-family: 'Roboto', 'Open Sans', 'Lato', 'Montserrat', 'Source Sans Pro', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background-color: #f9f9f9;
  color: #333;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', 'Lato', sans-serif;
  font-weight: 700;
}

p, a, li {
  font-family: 'Roboto', 'Open Sans', 'Source Sans Pro', sans-serif;
  text-decoration: none;
}