---
import OwnerLoginSignup from '../components/OwnerLoginSignup/OwnerLoginSignup';
import '../styles/main.css';

import { getSession } from '../CustomMiddleware/session';
const session = getSession(Astro.cookies.get('auth_token')?.value);
const isAuthenticated = session.authenticated;
const user = session.user;

if(isAuthenticated) {
  switch(user.role) {
    case 'user' :
      return Astro.redirect('/');
    case 'owner' :
    return Astro.redirect('/owners');
  }
}
---

<html>
  <head>
    <meta charset="UTF-8">
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/Hossio_logo_truquoise_blank.svg" />
		<meta name="generator" content={Astro.generator} />
    <title>Login/Signup Propietarios - Hossio</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
      }
    </style>
  </head>
  <body>
    <OwnerLoginSignup client:only="react" />
  </body>
</html>