---
import React from 'react';
import LoginSignup from '../components/LoginSignUp/LoginSignUp';
import Navbar from '../components/Navbar/Navbar'
import "../styles/main.css";
import Layout from "../layouts/Layout.astro"

import { getSession } from '../middleware/session';
const session = getSession(Astro.cookies.get('auth_token')?.value);
const isAuthenticated = session.authenticated;
const user = session.user;

if(isAuthenticated) {
  switch(user.role) {
    case 'user' :
      return Astro.redirect('/');
    case 'owner' :
    return Astro.redirect('/owners');
  }
}
---
    <style>
.page-container {
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
}
</style>
<Layout session={session} title='Login/Signup - Hossio'>
  <div class="page-container">
    <LoginSignup client:load/>
  </div>
</Layout>

