---
import NavBar from '../components/Navbar/Navbar.jsx';
import OwnerDashboard from '../components/OwnerPanel/OwnerDashboard';
import "../styles/main.css";
import { getSession } from '../CustomMiddleware/session.js';
import { AdminDashboard } from 'components/AdminDashboard/AdminDashboard';
const session = getSession(Astro.cookies.get('auth_token')?.value);
const isAuthenticated = session.authenticated;
const user = session.user;

if(user?.role != 'owner' &&  user?.role != 'admin') {
      return Astro.redirect('/');
}
---

<html>
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/Hossio_logo_truquoise_blank.svg" />
		<meta name="generator" content={Astro.generator} />
    <title>Panel de administraci&oacute;n - Hossio </title>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Open+Sans:wght@400;700&family=Lato:wght@400;700&family=Montserrat:wght@400;700&family=Source+Sans+Pro:wght@400;700&display=swap">
  </head>
  <body>
    <div id="root"></div>
    {user?.role == 'admin' &&
     <AdminDashboard user={user} client:only="react"/>
    }
    {user?.role == 'owner' &&
    <OwnerDashboard user={user} client:only="react"/>
    }
  </body>
</html>