---
import NavBar from '../components/Navbar/Navbar.jsx';
import OwnerPanel from '../components/OwnerPanel/OwnerPanel.astro';
import "../styles/main.css";
---

<html>
  <head>
    <title>Panel de administración - Hossio </title>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Open+Sans:wght@400;700&family=Lato:wght@400;700&family=Montserrat:wght@400;700&family=Source+Sans+Pro:wght@400;700&display=swap">
  </head>
  <body>
	<NavBar client:load/>
    <OwnerPanel/>
  </body>
</html>