/* Home.css */

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .home-container h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .place-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }