/* NavBar.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-left {
  flex: 1;
}

.navbar-title {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  color: #333;
}

.navbar-center {
  flex: 2;
  display: flex;
  justify-content: center;
}

.navbar-center form {
  display: flex;
  width: 100%;
  max-width: 600px;
}

.navbar-search {
  width: 100%;
  padding: 8px 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px 0 0 5px;
  outline: none;
}

.navbar-search-button {
  padding: 8px 12px;
  border: 1px solid #ddd;
  border-left: none;
  background-color: var(--color-primary);
  color: white;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 16px;
}

.navbar-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
}

.navbar-link {
  font-size: 16px;
  color: #333;
  text-decoration: none;
  transition: color 0.2s;
}

.navbar-link:hover {
  color: #007BFF;
}

.highlight-text {
  color: var(--color-primary);
}

.btn-reverse {
  background-color: #000; /* Fondo negro */
  color: #fff; /* Letra en blanco */
  padding: 8px 16px;
  border: none;
  border-radius: 20px; /* Bordes redondeados */
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.btn-reverse:hover {
  background-color: #333; /* Fondo gris oscuro al pasar el mouse */
}

.logout-button {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.logout-button:hover {
  background-color: #ff1a1a;
}