.dashboard-content {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .dashboard-content h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .dashboard-stats {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    gap: 15px;
  }
  
  .stat-card {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 30%;
  }
  
  .stat-card h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .stat-card p {
    font-size: 24px;
    font-weight: bold;
  }
  
  .dashboard-graph, .dashboard-recent-activities {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  .dashboard-graph h3, .dashboard-recent-activities h3 {
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 0;
  }
  
  .dashboard-recent-activities ul {
    list-style-type: none;
    padding: 0;
  }
  
  .dashboard-recent-activities li {
    margin-bottom: 10px;
    font-size: 16px;
  }
  
  .chart-container {
    margin: 20px 0;
  }
  
  .chart-wrapper {
    position: relative;
    height: 400px; /* Altura inicial para pantallas más grandes */
    width: 100%;
  }

  @media (max-width: 500px) {
    .dashboard-stats {
      flex-direction: column;
      align-items: center;
    }
    .stat-card {
      width: 84%;
      margin-bottom: 10px;
    }
  }
  
  @media (max-width: 768px) {
    .chart-wrapper {
      height: 300px; /* Altura ajustada para pantallas más pequeñas */
    }
  }
  
  @media (max-width: 480px) {
    .chart-wrapper {
      height: 200px; /* Altura ajustada para pantallas aún más pequeñas */
    }
  }