---
interface Props {
	title: string;
	session: {
		authenticated: boolean,
		user: any
	};
}

const { title } = Astro.props;
import NavBar from '../components/Navbar/Navbar.jsx';
import Footer from '../components/Footer/Footer';
import "../styles/main.css";
const { session }: any = Astro.props;
const isAuthenticated = session.authenticated;
const user = session.user;

if(user?.role == 'owner') {
	// return Astro.redirect('/owners');
}
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Open+Sans:wght@400;700&family=Lato:wght@400;700&family=Montserrat:wght@400;700&family=Source+Sans+Pro:wght@400;700&display=swap">
	<title>{title}</title>
	</head>
	<body>
	<NavBar userAuthenticated={isAuthenticated} user={user} client:only="react"/>
		<slot />
	<Footer/>
	</body>
</html>